<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :FirsName %>
    <%= form.text_field :FirsName, id: :user_FirsName %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName, id: :user_LastName %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :user_Email %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_field :City, id: :user_City %>
  </div>

  <div class="field">
    <%= form.label :Password %>
    <%= form.text_field :Password, id: :user_Password %>
  </div>

  <div class="field">
    <%= form.label :Age %>
    <%= form.number_field :Age, id: :user_Age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
